<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8"/>
   <title>
     My Website - About
   </title>
   <link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
 </head>
 <body>
   <h1>Sashana Ramsay</h1>
   <p>I am a third year Computer Science student at The University of the West Indies. I am confident and determined to make my mark in this world using the knowledge and skills that 
      I have acquired over the years at this university. I am a God fearing person and I love to help others. I look forward to getting an 'A' in this course.
      It has taught me a lot about designing a proper web page using different tools. I find that I have become more critical when I visit different sites since I have done it's pre-requisite, INFO2180. This is a challenging course but I will try my best to do well.
   </p>

 </body>

</html>
